body{
	background-image: url("../images/backg2.png"), url("../images/backg3.png");
	background-position: 0px 40px, 100% 55px;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-color:#A1ADD6;
	font-family: Tahoma, Geneva, sans-serif;
}

h1{
	color:#000000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	margin-top:0px;
	text-align: center;
}

h2{
	color:#4d64b0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}

h3{
	color:#4d64b0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}

a{
	font-weight: bold;
	text-decoration:underline;
	color:#45599d;
}

header{
	/*background-color: rgba(255, 255, 255, 1);*/
}

a:hover{
	text-decoration:none;
	color:#66829b;
}

nav,
nav ul,
nav li, nav a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif;
}
nav {
  width:100%;
  height:65px;
}
nav ul {
  text-align:center;
  list-style: none;
  position: relative;
  display: block;
}
nav ul:before {
  content: '';
  display: block;
}
nav ul:after {
  content: '';
  display: block;
  clear: both;
}
nav a,
nav a:link,
nav a:visited {	
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  text-decoration: none;
  color: #333333;
}
nav a:hover {
	color: #000000;
	background-color: #ebf3fc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b9c2e0), to(#ebf3fc));
    background-image: -webkit-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -moz-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -ms-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -o-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: linear-gradient(top, #b9c2e0, #ebf3fc);
}

nav li {
  float: left;
} 

th.header { 
    cursor: pointer; 
} 

footer{
	margin-bottom:15px;
	color:#000000;
	text-align:center;
}

#main{
	margin-top:70px;	
	padding:20px;
}

.btn{
	font-weight:bold;
}

a.btn {
	text-decoration:none !important;
}

.navbar{
	border:0px
}

.nav_active_bg{
	color: #000000;
	background-color: #ebf3fc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b9c2e0), to(#ebf3fc));
    background-image: -webkit-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -moz-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -ms-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -o-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: linear-gradient(top, #b9c2e0, #ebf3fc);
}

.red {
	color:#d9534f;
}
.green{
	color:#3e8f3e;
}
.yellow{
	color:#e38d13;
}

.table_supa_styl{
	border-collapse:separate;
	border-width: 1px;
	border-style: solid; 
	border-color: #cccccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:0px !important;
}

.table_supa_styl thead{
	background-color: #ebf3fc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b9c2e0), to(#ebf3fc));
    background-image: -webkit-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -moz-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -ms-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: -o-linear-gradient(top, #b9c2e0, #ebf3fc);
    background-image: linear-gradient(top, #b9c2e0, #ebf3fc);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.table_supa_styl th:first-child{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

.table_supa_styl th:last-child{
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

.container_header {
	padding-top:15px;
    height: 60px;
    border-bottom: 1px solid #EEE;
    background-color: #b9c2e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#b9c2e0));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #b9c2e0);
    background-image: -moz-linear-gradient(top, #ebf3fc, #b9c2e0);
    background-image: -ms-linear-gradient(top, #ebf3fc, #b9c2e0);
    background-image: -o-linear-gradient(top, #ebf3fc, #b9c2e0);
    background-image: linear-gradient(top, #ebf3fc, #b9c2e0);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-width: 1px;
	border-style: solid; 
	border-color: #cccccc;
}

.container{
	padding-top:15px;
	padding-bottom:10px;
	background-color:#ffffff;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color:#faf9f4;
	border-width: 1px;
	border-style: solid; 
	border-color: #cccccc;
	border-top: none;
}

.border_bottom  {
	border-width: 0px 0px 1px 0px;
	border-style:solid;
	border-color:#dddddd;
}

.center-text{
	text-align:center;
}

.table{
	width:100%;
	margin: auto;
	padding-bottom:10px;
	margin-bottom:20px;
}

.foto-profilu{
	max-width:300px;
	max-height:300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
}

.profil-tabulka #meno, #priezvisko, #email, #datum_nar, #vyska, #vaha, #pass1, #pass2{
	width:100%;
	margin-bottom:5px;
}

.noresize {
	resize: none; 
}

.table-borderless th, .table-borderless td { 
    border-top: none !important; 
 }

.inline-block{
	display:inline-block !important;
}

.none{
	display:none !important;
}

.margin-bottom-40 {
	margin-bottom:40px;
}

.margin-bottom-15 {
	margin-bottom:15px;
}

.margin-bottom-5 {
	margin-bottom:5px;
}

.margin-top-25 {
	margin-top:25px;
}

.margin-top-5 {
	margin-top:5px;
}

.margin-top-0{
	margin-top:0px !important;
}

.padding-top-25{
	padding-top:25px;
}

.center{
    margin: auto;
}

.text-center{
	text-align:center;
}

.sirka-170{
	width:170px;
}

.sirka-200{
	width:200px;
}

.sirka-100p{
	width:100% !important;
}

.err_msg{
	color:#F80000;
	font-weight:bold;
}

.success_msg{
	color:#33cc33;
	font-weight:bold;
}

.display-none{
	display:none !important;
}

.display-block{
	display:block;
}

.nopadding {
   padding: 0 !important;
}

.nopadding-top-bot{
	padding-bottom:0px !important;
	padding-top:0px !important;
}

.nopadding-left-right{
	padding-left:0px !important;
	padding-right:0px !important;
}

.nopadding-bottom {
   padding-bottom: 0 !important;
}

.nomargin_p p{ 
   margin: 0 !important;
}

.nomargin{ 
   margin: 0 !important;
}

.xs-table-none{
	display:table-cell;
}

.xs-table-zobraz{
	display:none;
}

.xs-none{
	display:block;
}

.xs-block{
	display:none;
}
@media all and (max-width: 1199px) {
	body{
		background-image:none !important;
		background-color:#A1ADD6;
		font-family: Tahoma, Geneva, sans-serif;
	}
}	

@media all and (max-width: 768px) {
	h1,h2,h3{
		text-align:center;
	}
	
	nav,
	nav ul,
	nav li, nav a {
		
		font-size: 15px;
	}
	
	nav a,
	nav a:link,
	nav a:visited {
		padding-left: 10px;
		padding-right: 10px;
		padding-top:22px;
		padding-bottom:22px;
	}

	#main{
		padding-bottom:5px;
		padding-left:5px;
		padding-right:5px;
		padding-top:20px;
	}
	
	.foto-profilu{
		margin: 0 auto;
	}
	
	.container{
		padding-top:20px;
		padding-bottom:10px;
	}
	
	.form-control{
		margin-bottom:5px;
		height:48px;
	}
	
	.btn{
		width:100%;
		margin-bottom:5px;
		height:48px;
		font-size:18px;	
	}
	
	a.btn {
		padding-top:10px;
		text-decoration:none !important;
	}
	
	.sirka-200{
		width:100%;
	}
	
	.sirka-170{
		width:100%;
	}
		
	.table-responsive{
		border:0 !important;
	}
	
	.xs-padding-sides-none{
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.xs-padding-sides-5{
		padding-right: 5px;
		padding-left: 5px;
	}
	
	.xs-none{
		display:block;
	}
	
	.xs-padding-top-10{
		padding-top:10px;
	}
	
	.xs-block{
		display:none;
	}
}

@media all and (max-width: 440px) {
	nav,
	nav ul,
	nav li, nav a {
		padding: 0;
		font-size: 23px;
	}
	
	nav a,
	nav a:link,
	nav a:visited {
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.form-control{
		margin-bottom:5px;
		height:48px;
	}
	
	.xs-table-none{
		display:none;
	}
	
	.sirka-200{
		width:100%;
	}
	
	.sirka-170{
		width:100%;
	}
	
	.xs-padding-sides-none{
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.xs-table-zobraz{
		display:table-cell;
	}
	
	.xs-table-block td{
		display:block;
		padding-bottom:3px !important;
		padding-top:3px !important;
	}
	
	.xs-none{
		display:none;
	}
	
	.xs-block{
		display:block;
	}
}



